
.class-add{width: 40vh;
    height: 25vh;
    // background: linear-gradient(135deg, #ddd7d7 0%, #fafcfc 100%);
    background-color: #bbbaba;
    color: white;
    border-radius: 10px;
    padding: 20px;
    // box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
    border: 1px dotted #737373;
}

.custombutton{
    font-size: 45px !important;
}