<form #entry="ngForm" class="container  vh-50" (ngSubmit)="addentry(entry)">

  <!-- <div *ngIf="isswitch==false"> -->
  <mat-form-field class="example-full-width inputbox">
    <mat-label>Material Group</mat-label>
    <mat-select required [(ngModel)]="materialgroup" ngModel name="matgroup" (ngModelChange)="onInputChange($event)">
      <mat-option [value]="'Cosmetics'">Cosmetics</mat-option>
      <mat-option [value]="'Clothes'">Clothes</mat-option>
      <mat-option [value]="'Investment'">Investment</mat-option>
      <mat-option [value]="'Education'">Education</mat-option>
      <mat-option [value]="'Entertainment'">Entertainment</mat-option>
      <mat-option [value]="'Family'">Family</mat-option>
      <mat-option [value]="'Food'">Food</mat-option>
      <mat-option [value]="'Groceries'">Groceries</mat-option>
      <mat-option [value]="'Liability Get'">Liability Get</mat-option>
      <mat-option [value]="'Liability Give'">Liability Give</mat-option>
      <mat-option [value]="'Loan'">Loan</mat-option>
      <mat-option [value]="'Medical'">Medical</mat-option>
      <mat-option [value]="'Others'">Others</mat-option>
      <mat-option [value]="'Rental'">Rental</mat-option>
      <mat-option [value]="'Selfcare'">Selfcare</mat-option>
      <mat-option [value]="'Sports'">Sports</mat-option>
      <mat-option [value]="'Travel'">Travel</mat-option>
      <mat-option [value]="'Utilities'">Utilities</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="d-flex">


    <mat-chip-listbox aria-label="Material selection">
      <mat-chip-option [selected]="selectedChip == 'New Material'" (selectionChange)="chipSelectionChange($event)">New
        Material</mat-chip-option>
      <mat-chip-option [selected]="selectedChip === 'Existing Material'"
        (selectionChange)="chipSelectionChange($event)">Existing Material</mat-chip-option>
    </mat-chip-listbox>

    <mat-chip-listbox aria-label="Material selection" class="ms-2">
      <mat-chip-option color="warn" [selected]="selectedchipcc === 'CreditCard'" (selectionChange)="billoncard($event)">
        Credit Card
      </mat-chip-option>
      <mat-chip-option [selected]="selectedchipcc === 'Credit Card Repay'" (selectionChange)="billoncard($event)">
        Credit Card Repay
      </mat-chip-option>

    </mat-chip-listbox>




  </div>


  <ng-multiselect-dropdown required *ngIf="ismaterialdropdown" style="margin-bottom: 10vh !important;"
    [placeholder]="'Material'" [settings]="dropdownSettings" [data]="materialdropdown" ngModel name="matname"
    [(ngModel)]="material" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
  </ng-multiselect-dropdown>

  <mat-form-field *ngIf="cardeventcatcher" class="example-full-width mt-1">
    <mat-label>Used Card</mat-label>
    <mat-select required [(ngModel)]="cardname" 
      [ngModelOptions]="{standalone: true}">
      <mat-option *ngFor="let card of creditcardlist" [value]="card.cardname">{{card.cardname}}</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- <mat-form-field *ngIf="!ismaterialdropdown" appearance="fill" class="example-full-width inputbox ">
    <mat-label>Material</mat-label>
    <input matInput required placeholder="spent on" ngModel name="matname" [(ngModel)]="material">
  </mat-form-field> -->

  <form class="example-form example-full-width" class="d-flex">
    <mat-form-field appearance="fill" *ngIf="!ismaterialdropdown" class="example-full-width inputbox">
      <mat-label>Material</mat-label>
      <input type="text"
             placeholder="Spent on"
             aria-label="text"
             matInput
             [(ngModel)]="material"
             [formControl]="myControl"
             [matAutocomplete]="auto"
             (keydown)="onEnterPress($event)" required
             >
             <button  matSuffix mat-icon-button aria-label="Clear" (click)="addMaterial($event)">
              <mat-icon>add</mat-icon>
            </button>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
  



  <div class="row">

    <div [ngClass]="cardeventcatcher?'col-md-6':'col-md-12'">

      <mat-form-field class="w-100 mt-1" appearance="fill">
        <mat-label>Price</mat-label>
        <input matInput required placeholder="Price" ngModel name="matprice" type="number"
          (ngModelChange)="onPriceChange($event)">
      </mat-form-field>


    </div>

    <div [ngClass]="cardeventcatcher?'col-md-6':'col-md-12'">
      <mat-form-field class="w-100 mt-1" appearance="fill">
        <mat-label>Balance</mat-label>
        <input matInput required placeholder="Balance" [(ngModel)]="balance" disabled ngModel name="balance"
          type="number">
      </mat-form-field>
      

      <mat-form-field class=" mt-1 d-none" appearance="fill">
        <mat-label>Price</mat-label>
        <input matInput required placeholder="Price" ngModel name="matbalance" type="number" [(ngModel)]="balance">
      </mat-form-field>
    </div>
  </div>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Date creation</mat-label>
    <input matInput required [matDatepicker]="picker" [(ngModel)]="dateentry" ngModel name="dateentry"
      class="example-full-width">
    <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
    <mat-datepicker-toggle matIconSuffix [for]="picker" class="example-full-width"></mat-datepicker-toggle>
    <mat-datepicker #picker class="example-full-width"></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="example-full-width " appearance="fill">
    <mat-label>Leave a comment</mat-label>
    <textarea matInput ngModel name="comments" placeholder="Ex. surprise gift..."></textarea>
  </mat-form-field>

  <div class="d-flex justify-content-center align-items-center">
    <input class="btn btn-success mx-1" type="submit" [disabled]="entry.invalid">
    <!-- <input class="btn btn-success mx-1" type="submit" value="Submit clear"> -->
    <!-- <button class="btn  btn-danger mx-1" (click)="entry.resetForm()">Clear</button> -->
  </div>
</form>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="ball-clip-rotate-multiple"
  [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>