<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="d-flex flex-column  bg-secondary rounded p-5">
    <mat-form-field class="example-full-width">
      <mat-label>Username</mat-label>
      <input matInput placeholder="Ex. GORA80" #username type="text">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Ex. 2303" #password type="password">
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="login()">
      Login
    </button>
  </div>
<!-- </div> -->