<div class="credit-card text-center">
    <div class="card-header d-flex justify-content-center">
        <h1 (click)="notifyParent()">{{carddetails.cardname}}</h1>
            <mat-icon class="mx-2 mt-1" *ngIf="!
            carddetails.cardnumber" (click)="notifyParent()"> table_chart</mat-icon> 
    </div>
    <div class="card-body">
        <div *ngIf="carddetails.cardnumber" class="d-flex justify-content-between">
            <p>{{carddetails.cardholder}}</p>
            <p>**** **** **** {{ carddetails.cardnumber }}</p>
        </div>
        <div *ngIf="carddetails.expirydate" class="d-flex justify-content-between">
            <p> Valid : {{ carddetails.expirydate }}</p>
            <p class="me-5"> CVV : {{ carddetails.cvv }}</p>
        </div>
        <div class="d-flex justify-content-between">
            <p class="my-auto"> {{carddetails.utilised}}/{{carddetails.totallimit}}</p>
            <span class="my-auto fs-6 fw-bold p-1"
                [ngClass]="(carddetails.utilised / carddetails.totallimit) * 100 < 30 ? 'text-success' : 'text-danger'">
                {{ (carddetails.utilised / carddetails.totallimit) * 100 | number: '1.2-2' }}%
            </span>
            <img *ngIf="carddetails.type" style=" height:5vh; width: 9vh;"
                [src]="'assets/images/'+carddetails.type+'.png'" alt="type.logo">
        </div>
    </div>
    <ng-container *ngIf="!carddetails.type">
        <img class="mt-3 mx-1" style=" height:5vh; width: 9vh;" [src]="'assets/images/visa.png'" alt="type.logo">
        <img class="mt-3 mx-1" style=" height:5vh; width: 9vh;" [src]="'assets/images/master.png'" alt="type.logo">
        <img class="mt-3 mx-1" style=" height:5vh; width: 9vh;" [src]="'assets/images/rupay.png'" alt="type.logo">
    </ng-container>
</div>

<!-- <img style="height:5vh; width: 9vh;" [src]="'assets/images/'+carddetails.type+'.png'" alt=""> -->