<!-- <div class="d-flex justify-content-center my-2">
    <button class="btn btn-sm btn-info mx-1 text-white" (click)="iscard='MARGIN'">OVERVIEW</button>
    <button class="btn btn-sm btn-info mx-1 text-white" (click)="iscard='SGRID'">SPEND GRID</button>
    <button class="btn btn-sm btn-info mx-1 text-white" (click)="iscard='CGRID'">CREDIT GRID</button>
    <button class="btn btn-sm btn-info mx-1 text-white" (click)="iscard='ALLOCATION'">ALLOCATION</button>
</div> -->

<div *ngIf="iscard=='MARGIN'" class="container">

    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" animationDuration="1000ms" class="mx-5">
        <mat-tab label="Spend">
            <h1 class="text-center mt-4">Spend Margin</h1>

            <div class="d-flex flex-wrap justify-content-center card-container">
                <div *ngFor="let card of Spendreport">
                    <app-summarycard [carddetails]="card"></app-summarycard>
                </div>
            </div>
            <h1 class="text-center mt-4">Total Spend Margin</h1>
            <div class="d-flex flex-wrap justify-content-center card-container">
                <div *ngFor="let card of TotalSpendreport">
                    <app-summarycard [carddetails]="card"></app-summarycard>
                </div>
            </div>

        </mat-tab>
        <mat-tab label="Invest">
            <h1 class="text-center mt-4">Invest Margin</h1>
            <div class="d-flex flex-wrap justify-content-center card-container">
                <div *ngFor="let card of Investreport">
                    <app-summarycard [carddetails]="card"></app-summarycard>
                </div>
            </div>
            <h1 class="text-center mt-4">Total Invest Margin</h1>
            <div class="d-flex flex-wrap justify-content-center card-container">
                <div *ngFor="let card of TotalInvestreport">
                    <app-summarycard [carddetails]="card"></app-summarycard>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Total">
            <h1 class="text-center mt-4">Full Margin</h1>
            <div class="d-flex flex-wrap justify-content-center card-container">
                <div *ngFor="let card of totalreport">
                    <app-summarycard [carddetails]="card"></app-summarycard>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>

</div>

<app-grid [Iscredit]="false" [Spendlist]="griddata" *ngIf="iscard=='SGRID'"></app-grid>
<app-grid [Iscredit]="true" [Spendlist]="creditgriddata" *ngIf="iscard=='CGRID'"></app-grid>

<app-allocate-chart *ngIf="iscard=='ALLOCATION'"></app-allocate-chart>