.card-conatiner {
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
    justify-content: center;
    width: 100%;
}

::ng-deep .mdc-tab__text-label {
    color: rgb(94, 92, 92) !important;
}

::ng-deep .mdc-tab {
    // background-color: rgb(216, 235, 208) !important;
    border-bottom: 1.5px solid  rgb(180, 180, 180,0.5) !important;
    // border-radius: 10px !important;
}