<div *ngIf="canAccess" class="d-flex justify-content-between align-items-center container my-3 border border-5 rounded-5"
    style="background-color: #003153; color: aliceblue;">
    <h1 class="mx-auto my-auto">GORA 80-80 </h1>
    <!-- <button mat-icon-button class="me-2 mb-1" ><img src='./assets/images/logout.png' style='width: 2rem; height: 2rem' /></button> -->
    <span class="my-auto me-2 px-2 bg-warning rounded rounded-4" >
        {{loggeduser}}
    </span>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>menu</mat-icon> </button>
    <mat-menu class="text-center" #menu="matMenu" #beforeMenu="matMenu" xPosition="before">

        <button mat-menu-item [routerLink]="'../entry'">
            <mat-icon>fiber_new</mat-icon>
            <span>New Entry</span>
        </button>
        <button mat-menu-item [routerLink]="'../dashboard'">
            <mat-icon>dashboard</mat-icon>
            <span>Dashboard</span>
        </button>
        <button mat-menu-item [routerLink]="'../summary'">
            <mat-icon> notes</mat-icon>
            <span>Summary</span>
        </button>
        <button mat-menu-item [routerLink]="'../credit'">
            <mat-icon>credit_card</mat-icon>
            <span>Credit Card</span>
        </button>
        <button mat-menu-item (click)="openDialog()">
            <mat-icon> monetization_on</mat-icon>
            <span>Add Balance</span>
        </button>
        <!-- <button mat-menu-item>
            <mat-icon>cached</mat-icon>
            <span>Switch Balance</span>
        </button> -->
        <!-- <button mat-menu-item>
            <mat-icon>favorite</mat-icon>
            <span>Favorite</span>
        </button> -->
        <!-- <button mat-menu-item>
            <mat-icon>spa</mat-icon>
            <span>ExpenseAllocation</span>
        </button> -->
        <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Logout</span>
        </button>
    </mat-menu>
</div>

<router-outlet></router-outlet>