<!-- <div class="shadow-lg  
border border-dark border-1 
p-2 m-2" id="chartdiv" style="width: 99%; height:80vh;"></div> -->
<!-- <div class="shadow-lg p-2 m-2" id="chartdiv1" style="width: 99%; height:80vh;"></div>
<div class="shadow-lg p-2 m-2" id="chartdiv2" style="width: 99%; height:80vh;"></div>-->
<div class="shadow-lg p-2 m-2" [id]="chartdiv" style="width: 99%; height:80vh;"></div>
<!-- <div class="shadow-lg p-2 m-2" id="chartdiv4" style="width: 99%; height:80vh;"></div> 
<div [attr.id]="chartdiv" style="width: 100%; height: 500px;"></div> -->
