<div mat-dialog-content>
    <h1 class="text-center">Credited Inflow</h1>
    <form #entry="ngForm" class="container  vh-50" >

        <div class="d-flex justify-content-center flex-column">
            <mat-form-field class="me-sm-1 example-full-width">
                <mat-label>Add Balance</mat-label>
                <input matInput [type]="'number'" name="balance" ngModel placeholder="Ex. 1000" [(ngModel)]="data.newaccbalance" required>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Leave a comment</mat-label>
                <textarea matInput [(ngModel)]="data.comment" ngModel name="comment" placeholder="Ex. surprise gift..." required></textarea>
            </mat-form-field>
        </div>
        <div>
            <div mat-dialog-actions class="d-flex justify-content-center">
                <input type="submit" class="btn btn-sm btn-success mx-2" [mat-dialog-close]="data" cdkFocusInitial
                    [disabled]="entry.invalid">
                <button class="btn btn-sm btn-danger mx-2" (click)="onNoClick()">Cancel</button>
            </div>
        </div>
    </form>
</div>