.subheader{
    position: absolute;
    top: 25%;
    left:52%
}
.closersub{
    position: absolute;
    top: 25%;
    right:2%;
    z-index: 5;
    opacity: 0.5;
}

::ng-deep .hide-subscript .mat-mdc-form-field-subscript-wrapper{
    display: none !important;
}