<!-- <div id="donut-chartdiv" class="shadow-lg  border border-dark border-1 p-2 m-2" style="width: 99%; height: 80vh;"></div> -->
<div class="d-flex justify-content-center">

    <mat-form-field class="hide-subscript">
        <mat-label>Selected date range MM/DD/YYYY</mat-label>
        <mat-date-range-input [rangePicker]="picker">
            <input matStartDate placeholder="Start date" [(ngModel)]="startdaterange">
            <input matEndDate placeholder="End date" [(ngModel)]="enddaterange" (ngModelChange)="onDateRangeChanged()">
        </mat-date-range-input>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>



</div>
<!-- <div class="d-flex flex-grow-1">

    <div id="donut-chartdiv" class="shadow-lg p-2 mx-1" style="width: 100%; height: 76vh;"></div>
    <span *ngIf="selectedgroup" style="width: 100%; height: 70vh;">
        <button class="btn btn-sm btn-danger closersub" (click)="selectedgroup=false">X</button>
        <h1 class="subheader">Drill Down {{selectedgroup}}</h1>
        <app-breakdowndonut [Spendlist]="matnamedata" [Chosengroup]="selectedgroup"></app-breakdowndonut>
    </span>
</div> -->
<!-- <div id="donut-chartdiv" class="shadow-lg p-2 mx-1" style="width: 100%; height: 76vh;"></div> -->


<p-splitter [panelSizes]="[selectedgroup ? 40 : 99, selectedgroup ? 60 : 1]"
    [style]="{ height: '78vh', backgroundColor: '#495057' }"
    [ngStyle]="{ backgroundColor: isDark ? '#303030' : '#fff' }">
    <ng-template pTemplate>
        <div id="donut-chartdiv" class="shadow-lg p-2 mx-1" style=" width: 100%; height: 77vh;"
            [ngStyle]="{ backgroundColor: isDark ? '#303030' : '#fff' }"></div>
    </ng-template>
    <ng-template pTemplate>
        <span *ngIf="selectedgroup" style="width: 100%; height: 70vh;">
            <button class="btn btn-sm btn-danger closersub" (click)="selectedgroup=false">X</button>
            <marquee class="subheader">Drill Down {{selectedgroup}}</marquee>
            <app-breakdowndonut class="bg-dark" [Spendlist]="matnamedata"
                [Chosengroup]="selectedgroup"></app-breakdowndonut>
        </span> </ng-template>
</p-splitter>