
/* You can add global styles to this file, and also import other style files */

html, body { height: 90%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


@import "ag-grid-community/styles/ag-grid.css";
@import 'ag-grid-community/styles/ag-theme-alpine.css';
@import 'ag-grid-community/styles/ag-theme-balham.css';
@import 'ag-grid-community/styles/ag-theme-balham-no-font.css';
@import 'ag-grid-community/styles/ag-theme-quartz.css';
@import 'ag-grid-community/styles/ag-theme-material.css';
@import "../node_modules/ngx-spinner/animations/ball-clip-rotate-multiple.css";

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";


 

@media (max-width: 650px) {
    .cardlength {
      width: 10rem;
    }
  
    .cardlengthtotal {
      width: 100%;
    }
  
    .h1 {
      font-size: 0.5em;
  
    }
  
    .cards {
      font-size: 1em;
  
  
    }
  }
  
  .highcard {
    color: beige;
  }

  h1 {
    font-family: 'Fantasy' !important;
    font-size: 2em;
    color: #d2b8b8;
    margin: auto;
    margin-bottom: 0.3em;
    margin-top: 0.3em;
  
  
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


